@import './../../variables.scss';

header {
    height: $header-height;
    width: 100vw;
    background-color: $--background-secondary;
    position: fixed;

    /* mette img sulla estrema sinistra e navbar sulla estrema destra */

    nav {

        a {
            font: 400 1.3rem $--font-primary;
            color: $col-white;

            &:hover {
                color: $col-resin-black !important;
            }
        }
    }
}