@import './../../assets/dimensions.scss';

header {
    height: $header-height;
    width: 100vw;
    background-color: var(--background-secondary) !important;
    position: fixed;

    /* mette img sulla estrema sinistra e navbar sulla estrema destra */

    nav {

        a {
            //font: 400 1.3rem $--font-primary;
            color: var(--text-primary);

            &:hover {
                color: var(--text-invert) !important;
            }
        }
    }
}