@use './../../assets/dimensions.scss' as dim;

header {
    height: dim.$header-height;
    width: 100vw;
    background-color: var(--background-secondary) !important;
    border-bottom: 1px solid rgba(grey, 0.2);
    position: fixed;
    z-index: 999;

    img {
        width: 100%;
    }

    nav {

        a {
            font-size: 1.3rem;
            font-weight: 400;
            color: var(--text-primary);

            &:hover {
                color: var(--text-invert) !important;
            }
        }
    }
}