@use "../colors.scss" as *;

@mixin dark-theme {
  --text-primary: #{$col-white-r};
  --text-secondary: #{$col-white-r};
  --text-tertiary: #{$col-white-r};
  //--text-inactive: #{$col-black-r};
  //--text-link: #{$col-black-r};
  --text-invert: #{$col-auburn-r};

  --background-primary: #{$col-parka-l};
  --background-secondary: #{$col-parka-r};
  --background-tertiary: #{$col-lapis-lazuli-r};
  --background-active: #{$col-lapis-lazuli-r};
  --background-inactive: #{$col-parka-r};
  //--background-tertiary: #{$col-};
  //--background-toc-active: #{$col-};

  --delimiter: transparent;

  //--code-token-tag: #{$col-};
  //--code-token-punctuation: #{$col-};
  //--code-token-attribute-name: #{$col-};
  //--code-token-attribute-value: #{$col-};
  //--code-token-comment: #{$col-};
  //--code-token-default: #{$col-};
  //--code-token-selector: #{$col-};
  //--code-background-inline: #{$col-};
  //--code-background-block: #{$col-};

  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(255, 255, 255, 0.25);

  color-scheme: dark;
}

.dark {
  @include dark-theme;
}