@import './../pages/Home/Home.scss';
@import './../pages/Login/Login.scss';
@import './../pages/Prodotti/Prodotti.scss';
@import './../pages/Documentazione/Documentazione.scss';

@import './../components/Header/Header.scss';
@import './../components/Footer/Footer.scss';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
