@use "../colors.scss" as *;

@mixin light-theme {
  --text-primary: #{$col-white-r};
  --text-secondary: #{$col-black-r};
  --text-tertiary: #{$col-ubertini-r};
  //--text-inactive: #{$col-black-r};
  //--text-link: #{$col-black-r};
  --text-invert: #{$col-keppel-r};

  --background-primary: #{$col-keppel-r};
  --background-secondary: #{$col-indigo-dye-d};
  --background-light: #{$col-white-r};
  --background-active: #{$col-keppel-l};
  --background-inactive: #{$col-white-r};
  //--background-toc-active: #{$col-};

  //--code-token-tag: #{$col-};
  //--code-token-punctuation: #{$col-};
  //--code-token-attribute-name: #{$col-};
  //--code-token-attribute-value: #{$col-};
  //--code-token-comment: #{$col-};
  //--code-token-default: #{$col-};
  //--code-token-selector: #{$col-};
  //--code-background-inline: #{$col-};
  //--code-background-block: #{$col-};

  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(0, 0, 0, 0.25);

  color-scheme: light;
}

.light {
  @include light-theme;
}