.plan {
    height: 65vh;
    width: 20vw;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    border-radius: 25px;
    border: 1px solid var(--delimiter);
    padding: 40px;
    
    h1 {
        padding: 20px 0;
    }

    img {
        width: auto;
    }

    .price {
        height: 100%;
        
        h1 {
            font-weight: 900 !important;
        }
    }

    &.selected {
        background-color: var(--background-active);
    }
}