.credenziali {
    width: 400px;

    .credenziali-input {
        width: 100%;
        background-color: var(--background-theme);
        padding: 1em;
    }

    .options {
        margin-top: 1em;
        width: 100%;
        font-size: 0.8rem;
        background-color: var(--background-primary) !important;
    
        a {
            color: var(--text-secondary);
        }
    }
    
    .active {
        background-color: var(--background-theme) !important;
    }
}

button {
    font-size: 1.5rem;
    padding: 15px 40px;
    background-color: var(--background-secondary);
    color: var(--text-primary);
}