/* ASSETS */
@use './assets/fonts.scss';
@use './assets/dimensions.scss' as dim;
@use './assets/themes/themes.scss';

/* PAGES */
@use './pages/Home/Home.scss';
@use './pages/Login/Login.scss';
@use './pages/Prodotti/Prodotti.scss';
@use './pages/Documentazione/Documentazione.scss';
@use './pages/ChiSiamo/ChiSiamo.scss';
@use './pages/Contattaci/Contattaci.scss';

/* COMPONENTS */
@use './components/Header/Header.scss';
@use './components/Footer/Footer.scss';
@use './components/Section/Section.scss';
@use './components/Introduction/Introduction.scss';
@use './components/Plan/Plan.scss';
@use './components/Switch/Switch.scss';


* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	transition: 0.5s;
}

body {
	cursor: default;
	font: 300 16px "Source Sans Pro";
	background-color: var(--background-primary);
	color: var(--text-primary);
	transition: color 0.5s, background-color 0.5s;
	scroll-behavior: smooth;
}

input,
textarea,
a,
p {
	font: 300 16px "Source Sans Pro";
}

button {
	font-size: 1.5rem;
    padding: 15px 40px;
    background-color: var(--background-secondary);
    color: var(--text-primary);
	border-radius: 10px;
	cursor: pointer;
}

#main-container {
	padding-top: dim.$header-height;
	color: var(--text-secondary);
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;

	&.col {
		flex-direction: column;
	}

	&.v-top {
		align-items: flex-start;
	}

	&.h-top {
		justify-content: flex-start;
	}

	&.space-between {
		justify-content: space-between;
		padding: 0 2em;
	}

	&.space-evenly {
		justify-content: space-evenly;
	}

}

.gap {
	gap: 1rem;

	&-05 {
		gap: 0.5rem;
	}

	&-2 {
		gap: 2rem;
	}

	&-3 {
		gap: 3rem;
	}

	&-4 {
		gap: 4rem;
	}

	&-5 {
		gap: 5rem;
	}

	&-10 {
		gap: 10em;
	}
}

.box-container {
	height: 100vh;
	width: 100%
}

.box {
	width: 50%;

	&-40 {
		width: 40%;
	}
}