* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	margin: 0 1em;
	cursor: default;
	font: 900 16px "Source Sans Pro";
	background-color: var(--background-primary);
	color: var(--text-primary);
	transition: color .4s, background-color .4s;
}

#app {
	min-height: 100vh;
}

/* div {
	display: flex;
	justify-content: center;
	align-items: center;
} */