/* PAGES */
@import './pages/Home/Home.scss';
@import './pages/Login/Login.scss';
@import './pages/Prodotti/Prodotti.scss';
@import './pages/Documentazione/Documentazione.scss';

/* COMPONENTS */
@import './components/Header/Header.scss';
@import './components/Footer/Footer.scss';

/* ASSETS */
@import './variables.scss';

* {
	margin: 0;
	border: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	cursor: default;
	font: 400 16px $--font-primary;
	background-color: $--background-primary;
	color: $--text-primary;
	transition: color .4s, background-color .4s;
}