/* SCREEN */
$screen-sm: 320px;
$screen-md: 480px;
$screen-lg: 768px;
$screen-xl: 1024px;
$screen-xxl: 1200px;

/* COLORS */
$col-white: #f4f4f4;
$col-white-l: lighten($col-white, 25%);
$col-white-r: $col-white;
$col-white-d: darken($col-white, 25%);

$col-black: #1e1e1e;
$col-black-l: lighten($col-black, 25%);
$col-black-r: $col-black;

$col-yellow: #fff3ac;
$col-yellow-l: lighten($col-yellow, 25%);
$col-yellow-r: $col-yellow;
$col-yellow-d: darken($col-yellow, 25%);

$col-blue: #00b0f0;
$col-blue-l: lighten($col-blue, 25%);
$col-blue-r: $col-blue;
$col-blue-d: darken($col-blue, 25%);

$col-cyan: #00b7c3;
$col-cyan-l: lighten($col-cyan, 25%);
$col-cyan-r: $col-cyan;
$col-cyan-d: darken($col-cyan, 25%);

$col-green: #007160;
$col-green-l: lighten($col-green, 25%);
$col-green-r: $col-green;
$col-green-d: darken($col-green, 25%);

$col-lavender: #D2D9E7;
$col-lavender-d: darken($col-lavender, 25%);

$col-resin-black: #272932;
$col-coral: #FF8552;
$col-citron: #D8D174;
$col-uranian-blue: #BCE7FD;
$col-olive: #9fb18e;

$--background-primary: $col-uranian-blue;
$--background-secondary: $col-coral;
$--background-tertiary: $col-resin-black;
$--text-primary: $col-lavender;
$--text-secondary: $col-black;

/* FONT */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$font-source-sans-pro: "Source Sans Pro";

$--font-primary: $font-source-sans-pro;

/* DIMENSION */
$header-height: 100px;
$footer-height: 200px;
$introuduction-height: 400px;
