@import './../../variables.scss';

#section {

    text-align: center;

    img {
        width: 50%;
    }

    p {
        padding: 0 10% 0 10%;
    }

    &.light {
        background-color: $col-white;
    }

    &.darak {
        background-color: $--background-primary;
    }
}