#section {

    text-align: center;

    img {
        width: 50%;
    }

    p {
        padding: 0 10% 0 10%;
    }

    &.left-to-right {
        background-color: var(--background-primary);
    }

    &.right-to-left {
        background-color: var(--background-tertiary);
        color: var(--text-secondary);
    }
}