.plan {
    height: 65vh;
    width: 20vw;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    border-radius: 25px;
    border: 1px solid var(--delimiter);

    img {
        width: auto;
    }

    &.selected {
        background-color: var(--background-active);
    }
}