@use './../../assets/dimensions.scss' as dim;

footer {
    height: dim.$footer-height;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--delimiter);

    div {
        align-items: flex-start !important;
    }

    img {
        width: 100%;
    }
}