@use './../../assets/dimensions.scss' as dim;

footer {
    height: dim.$footer-height;
    background-color: var(--background-secondary);

    div {
        align-items: flex-start !important;
    }

    img {
        width: 100%;
    }

    a {
        color: var(--text-primary);

        &:first-child {
            color: var(--text-tertiary);
            margin-bottom: 0.5rem;
        }
    }
}