@import './../../variables.scss';

footer {
    height: $footer-height;
    background-color: $--background-tertiary;

    div {
        align-items: flex-start !important;
    }

    a {
        color: $--text-primary;

        &:first-child {
            color: $col-lavender-d;
        }
    }
}