/* COLORS */
$col-white: #fffdfa;
$col-white-t: rgba($col-white, 0.95);
$col-white-l: #ffffff;
$col-white-r: $col-white;
$col-white-d: darken($col-white, 25%);

$col-gray: #dddddd;
$col-gray-l: lighten($col-gray, 25%);
$col-gray-r: $col-gray;
$col-gray-d: darken($col-gray, 25%);

$col-black: #1e1e1eff;
$col-black-l: lighten($col-black, 25%);
$col-black-r: $col-black;
$col-black-d: #000000;

$mindaro: #d9ed92ff;
$col-mindaro-t: rgba($mindaro, 0.95);
$col-mindaro-l: lighten($mindaro, 25%);
$col-mindaro-r: $mindaro;
$col-mindaro-d: darken($mindaro, 25%);

$light-green: #b5e48cff;
$col-light-green-l: lighten($light-green, 25%);
$col-light-green-r: $light-green;
$col-light-green-d: darken($light-green, 25%);

$ubertini: #99d98cff;
$col-ubertini-l: lighten($ubertini, 25%);
$col-ubertini-r: $ubertini;
$col-ubertini-d: darken($ubertini, 25%);

$emerald: #76c893ff;
$col-emerald-l: lighten($emerald, 25%);
$col-emerald-r: $emerald;
$col-emerald-d: darken($emerald, 25%);

$keppel: #52b69aff;
$col-keppel-l: lighten($keppel, 25%);
$col-keppel-r: $keppel;
$col-keppel-d: darken($keppel, 25%);

$verdigris: #34a0a4ff;
$col-verdigris-l: lighten($verdigris, 25%);
$col-verdigris-r: $verdigris;
$col-verdigris-d: darken($verdigris, 25%);

$bondi-blue: #168aadff;
$col-bondi-blue-l: lighten($bondi-blue, 25%);
$col-bondi-blue-r: $bondi-blue;
$col-bondi-blue-d: darken($bondi-blue, 25%);

$cerulean: #1a759fff;
$col-cerulean-l: lighten($cerulean, 25%);
$col-cerulean-r: $cerulean;
$col-cerulean-d: darken($cerulean, 25%);

$lapis-lazuli: #1e6091ff;
$col-lapis-lazuli-l: lighten($lapis-lazuli, 25%);
$col-lapis-lazuli-r: $lapis-lazuli;
$col-lapis-lazuli-d: darken($lapis-lazuli, 25%);

$indigo-dye: #184e77ff;
$col-indigo-dye-l: lighten($indigo-dye, 25%);
$col-indigo-dye-r: $indigo-dye;
$col-indigo-dye-d: darken($indigo-dye, 25%);

$bubble: #dcacbaff;
$col-bubble-l:  lighten($bubble, 25%);
$col-bubble-r: $bubble;
$col-bubble-d: darken($bubble, 25%);

$water: rgb(209, 237, 239);
$col-water-l:  lighten($water, 25%);
$col-water-r: $water;
$col-water-d: darken($water, 25%);

$parka: rgb(0, 50, 80);
$col-parka-l:  lighten($parka, 25%);
$col-parka-r: $parka;
$col-parka-d: darken($parka, 25%);

$canary: #f6f7e3;
$col-canary-l:  lighten($canary, 25%);
$col-canary-r: $canary;
$col-canary-d: darken($canary, 10%);

$dark-olive: #404501;
$col-dark-olive-r: $dark-olive;

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
$gradient-right: linear-gradient(
  90deg,
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
$gradient-left: linear-gradient(
  270deg,
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
$gradient-radial: radial-gradient(
  #d9ed92ff,
  #b5e48cff,
  #99d98cff,
  #76c893ff,
  #52b69aff,
  #34a0a4ff,
  #168aadff,
  #1a759fff,
  #1e6091ff,
  #184e77ff
);
