/* SCREEN */
$screen-sm: 320px;
$screen-md: 480px;
$screen-lg: 768px;
$screen-xl: 1024px;
$screen-xxl: 1200px;


/* DIMENSION */
$header-height: 100px;
$footer-height: 200px;
$introuduction-height: 400px;
