#chi-siamo-container {
    h1 {
        font-size: 3rem;
    }
    
    p {
        font-size: 1.2rem;
    }
    
    #photo-container {
        width: 100%;
    
        img {
            width: 20%;
        }
    }
}