@use './../../assets/dimensions.scss' as dim;

#introduction {
    height: dim.$introuduction-height;
    width: 100%;
    background-color: var(--background-light);

    h1 {
        font-size: 3rem;
        width: 30%;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        width: 40%;
        text-align: center;
    }
}