@use './../../assets/dimensions.scss' as dim;

#introduction {
    background-color: var(--background-primary);
    color: var(--text-secondary);

    h1 {
        font-size: 3rem;
        width: 60%;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        width: 40%;
        text-align: center;
    }
}